
html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom, #EEB9B7, #F6DD9D);
}

body > div, header, footer {
  background-color: #FFF;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}

.container{
  width: 60%;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./img/coin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  border-radius: 10px;
}

.title{
  background-color: #E56399;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
}

input[type=number]{
  width: 20%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

input[type=button]{
  width: 20%;
  font-size: 1rem;
  background-color: #F6DD9D;
  font-weight: bold;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  margin-top: 2%;

}

.alert{
  background-color: #E56399;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 10px;
}
